In [1]:
import pandas as pd
import numpy as np
import datetime


from sklearn.ensemble import RandomForestClassifier

In [60]:
input_fire_csv_path = '../data/FW_Veg_Rem_Combined.csv'
input_city_csv_path =  '../data/city_attributes.csv'
input_humidity_csv_path = '../data/humidity.csv'
input_pressure_csv_path = '../data/pressure.csv'
input_temperature_csv_path = '../data/temperature.csv'
input_windD_csv_path = '../data/wind_direction.csv'
input_windS_csv_path =  '../data/wind_speed.csv'

In [61]:
df_fire = pd.read_csv(input_fire_csv_path)
df_city = pd.read_csv(input_city_csv_path)
df_hum = pd.read_csv(input_humidity_csv_path)
df_pre = pd.read_csv(input_pressure_csv_path)
df_tem = pd.read_csv(input_temperature_csv_path)
df_windD = pd.read_csv(input_windD_csv_path)
df_windS = pd.read_csv(input_windS_csv_path)

In [62]:
df_dic = {  'humidity':df_hum,
            'pressure':df_pre,
            'temperature':df_tem,
            'wind_direction':df_windD,
            'wind_speed':df_windS}

In [63]:
for key in df_dic.keys():
    df_dic[key]['datetime'] = pd.to_datetime(df_dic[key]['datetime']).apply(datetime.datetime.date)
    df_dic[key] = df_dic[key].groupby('datetime').mean()
    df_dic[key] = df_dic[key].stack(0).reset_index()
    df_dic[key].rename(columns={'datetime':'datetime','level_1':'city', 0:key}, inplace=True)
df_hum, df_pre, df_tem, df_windD, df_windS = df_dic.values()

In [64]:
df_final = df_hum
for key in df_dic.keys():
    if key == 'humidity':
        continue
    else:
        df_final=df_final.merge(df_dic[key], on=['datetime', 'city'])
df_final

,datetime,city,humidity,pressure,temperature,wind_direction,wind_speed
0,2012-10-01,Portland,78.727273,1024.000000,282.118197,57.727273,0.000000
1,2012-10-01,San Francisco,83.000000,1009.727273,289.416642,122.363636,1.636364
2,2012-10-01,Seattle,78.000000,1030.000000,281.767262,32.272727,0.000000
3,2012-10-01,Los Angeles,88.000000,1013.000000,291.846501,0.000000,0.000000
4,2012-10-01,San Diego,79.909091,1013.000000,291.573495,0.000000,0.000000
...,...,...,...,...,...,...,...
67533,2017-11-30,Pittsburgh,42.000000,1025.000000,279.190000,360.000000,2.000000
67534,2017-11-30,Toronto,60.000000,1027.000000,274.510000,330.000000,3.000000
67535,2017-11-30,Philadelphia,32.000000,1024.000000,283.420000,360.000000,4.000000
67536,2017-11-30,Montreal,58.000000,1027.000000,271.800000,300.000000,4.000000
67537,2017-11-30,Boston,56.000000,1023.000000,280.650000,320.000000,2.000000

In [68]:
df_city.rename(columns={'City':'city'}, inplace=True)

In [69]:
df_final.merge(df_city, on=['city'])

,datetime,city,humidity,pressure,temperature,wind_direction,wind_speed,Country,Latitude,Longitude
0,2012-10-01,Portland,78.727273,1024.000000,282.118197,57.727273,0.000000,United States,45.523449,-122.676208
1,2012-10-02,Portland,65.833333,1023.583333,286.137728,214.041667,1.291667,United States,45.523449,-122.676208
2,2012-10-03,Portland,66.208333,1021.083333,289.599792,228.333333,2.625000,United States,45.523449,-122.676208
3,2012-10-04,Portland,51.166667,1022.875000,286.482500,206.750000,4.625000,United States,45.523449,-122.676208
4,2012-10-05,Portland,40.391304,1022.916667,288.286042,182.250000,3.708333,United States,45.523449,-122.676208
...,...,...,...,...,...,...,...,...,...,...
67533,2017-10-24,Vancouver,84.208333,1035.458333,283.835417,139.333333,1.708333,Canada,49.249660,-123.119339
67534,2017-10-25,Vancouver,92.583333,1021.166667,283.138333,156.583333,2.666667,Canada,49.249660,-123.119339
67535,2017-10-26,Vancouver,93.208333,1024.166667,283.408333,310.958333,3.166667,Canada,49.249660,-123.119339
67536,2017-10-27,Vancouver,93.583333,1024.291667,283.085417,281.291667,2.125000,Canada,49.249660,-123.119339
67537,2017-10-28,Vancouver,87.000000,1021.000000,288.010000,290.000000,4.000000,Canada,49.249660,-123.119339